
.vs/slnx.sqlite
.vs/Bimanual/v17/Browse.VC.opendb
.vs/Bimanual/v17/Browse.VC.db-wal
.vs/Bimanual/v17/Browse.VC.db-shm
.vs/Bimanual/v17/Browse.VC.db
.vs/Bimanual/FileContentIndex/read.lock
.vs/Bimanual/FileContentIndex/e9c06e79-113a-49b8-a101-d1e492f1aba1.vsidx
.vs/Bimanual/FileContentIndex/1d8a8951-ca9e-4872-bf55-00ec5915b1cb.vsidx
.vs/Bimanual/FileContentIndex/95234d62-4333-4aca-9f20-3c6a42ffb954.vsidx
.vs/Bimanual/FileContentIndex/292ed361-4e34-4de6-8a26-4724c3031d4d.vsidx
